<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ habit['name'] }} - DayGraph</title>
</head>

<body>

    <h1>{{ habit['name'] }}</h1>

    <p>Unit: {{ habit['unit'] }}</p>

    <p>
        Direction:
        {% if habit['direction'] == 'higher' %}
            Higher is better
        {% else %}
            Lower is better
        {% endif %}
    </p>

    <hr>

    <h2>Today's Total</h2>

    <p>{{ total }} {{ habit['unit'] }}</p>

    <hr>

    <h2>Add Today's Entry</h2>

    <form action="{{ url_for('add_entry', habit_id=habit['id']) }}" method="POST">
        <label for="value">Value</label>
        <input type="number" id="value" name="value" step="any" min="0" required>
        <button type="submit">Add Entry</button>
    </form>

    <br>

    <hr>

    <h2>Today's Entries</h2>

    {% if entries %}
        {% for entry in entries %}
            <p>
                {{ entry['value'] }} {{ habit['unit'] }}
                <small>{{ entry['created_at'] }}</small>
            </p>
        {% endfor %}
    {% else %}
        <p>No entries recorded today.</p>
    {% endif %}

    <hr>

    
    <h2>Progress</h2>

    <div style="width: 100%; max-width: 650px; height: 300px;">
        <canvas id="habitChart"></canvas>
    </div>
    
    <a href="/">← Back to Home</a>
    <div
        id="chartData"
        data-labels='{{ daily_totals | map(attribute="date") | list | tojson }}'
        data-values='{{ daily_totals | map(attribute="total") | list | tojson }}'>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const chartData = document.getElementById('chartData');

        const labels = JSON.parse(chartData.dataset.labels);
        const values = JSON.parse(chartData.dataset.values);

        const ctx = document.getElementById('habitChart');

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: '{{ habit["name"] }}',
                    data: values,
                    tension: 0.3
                }]
            },
            options: {
                responsive: true,

                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return context.parsed.y + ' {{ habit["unit"] }}';
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>